:root{
    --primary-font: 'PT Serif', serif;
    --secondary-font: 'Lato', serif;
    --primary-color: #222831;
    --secondary-color: #393E46;
    --ternary-color: #00ADB5;
    --base-color: #EEEEEE;
}

/* Bootstrap Overriding */
.navbar{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
}

.navbar-nav .nav-link{
    color: var(--base-color);
    font-size: 1.1rem;
}

.navbar-brand{
    color: var(--secondary-color);
}

a.nav-link:hover{
    color: var(--ternary-color);
    text-decoration: none;
    transform: translateY(-3px);
    transition: transform 0.2s ease;
}

/* Custom CSS */
html{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
}

section{
    padding-top: 0px;
}

/* Keyframes */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


/* Animations */
#Home button:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

#Home img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition:  transform 0.4s ease-in;
}

.animate-up:hover{
    transform: translateY(-3px);
    transition: transform 0.2s ease;
}

.animate-fade-in{
    animation: fadeIn 10s ease-in-out 0.5s infinite;
    opacity: 0;
}

/* Global */
.c-p{
    color: var(--primary-color);
}
.c-s{
    color: var(--secondary-color);
}
.c-t{
    color: var(--ternary-color);
}
.c-b{
    color: var(--base-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--primary-font);
}
section > div > div.card.mb-4{
    background-color: var(--primary-color);
}

section > div > div.card.mb-4 > h1{
    color: var(--base-color);
    margin-left: 20px;
}
p{
    font-family: var(--secondary-font);
    font-weight: 300;
    color: var(--secondary-color);
}

a{
    font-family: var(--secondary-font);
}

/* Home */
#Home{
    background-image: linear-gradient(var(--secondary-color), var(--primary-color));
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-hr{
    background-color: var(--base-color);
    height: 2px;
}

.home-container{
    height: 100%;
}

.profile-photo{
    border-radius: 50%;
    width: 20%;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}

.btn-equal{
    min-width: 150px;
}


/* Home */
.brand-text{
    margin: 0; 
    margin-top: 5px; 
    color: var(--base-color);
}
#Home{
    padding-top: 70px;
}

.ct{
    color: var(--primary-color);
}

/* Work Experience */
#Experience{
    padding-top: 70px;
}

.work-img-1 > img{
    border-radius: 10%;
    height: auto;
    width: 35%;
    overflow: hidden;
    float: right;
    margin-left: 5%;
}

/* Education */
#Education{
    padding-top: 70px;
}
.card-body{
    background-color: #F7F7F7;
    color: #240A34;
    border-radius: 5px;
}

#card-body-1{
    padding-bottom: 62px;
}

/* Skills */
#Skills{
    padding-top: 70px;
}

#Skills .card-header{
    background-color: var(--ternary-color);
}

/* Footer */

footer{
    background-color: var(--primary-color);
    color: var(--base-color);
    margin-top: 8rem;
}

#footer-text{
    color: var(--base-color);
    font-family: var(--primary-font);
}

.footer-svg{
    fill: var(--base-color);
}

footer > div > div > h5{
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
}

footer > div > div h5:hover{
    color: var(--ternary-color);
}


.footer-svg:hover{
    fill: var(--ternary-color);
    transform: translateY(-3px);
    transition: transform 0.2s ease;
}

/* Smallest Possible */
@media(min-width:0px){
    #footer-text{
        font-size: 1.3vh;
    }
}

/* Mobile M */
@media(min-width:375px){
    .profile-photo{
        width: 200px;
    }

    #footer-text{
        font-size: 10pt;
    }
}

/* Extra Small Devices */
@media(min-width:475px){
    .profile-photo{
        width: 200px;
    }

    footer{
        margin-top: 2rem;
    }

    #footer-text{
        font-size: 1rem;
    }
}

/* Small Devices */
@media(min-width:576px){
    .profile-photo{
        width: 300px;
    }

    footer{
        margin-top: 2rem;
    }
}


/* Medium Devices */
@media(min-width:768px){
    .profile-photo{
        width: 320px;
    }
}

/* Large Devices */
@media(min-width:992px){
    .profile-photo{
        width: 300px;
    }

    footer{
        margin-top: 4rem;
    }
}

/* Extra Large Devices */
@media(min-width:1200px){
    .profile-photo{
        width: 300px;
    }

    footer{
        margin-top: 8rem;
    }
}

/* Extra Extra Large Devices */
@media(min-width:1400px){
    .profile-photo{
        width: 20%;
    }
}